body{
    display: flex;
    justify-content: center;  
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    background: rgba(73, 92, 112, 0.582);
    background-image: url('https://thomasstorage1.blob.core.windows.net/wp-media/2017/11/tech-background.png');
    background-size: cover
}

#main-div2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}


#main-div2 div{
    margin: 10px
}   

#main-div1{
    text-align: center;
    color: #fff;
    font-size: 18px;
    margin: 10px;
    padding: 15px
}

#inner-div1,
#inner-div2{
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 12px;
    color: #fff;
}

#inner-div1,
#inner-div2,
form{
    max-width: 350px;
    font-size: 16px;
    background: #58677698;
    padding: 30px 30px 15px 30px;
    border: 5px solid #53687E;
    border-radius: 25px;
    /* display: flex;
    flex-direction: column; */
}

form input[type=email],
#upfile button,
form label
{
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 16px;
    color: #fff;
}

form label {
    display:block;
    margin-bottom: 10px;
}

form input[type=email] 
{
    background: transparent;
    border: none;
    border-bottom: 1px dashed #83A4C5;
    width: 210px;
    outline: none;
    padding: 0px 0px 0px 0px;
    font-style: italic;
}

form input[type=email] :focus
{
    background: #394D61;
}


form input[type=submit],
#upfile button,
form input[type=button]{
    background: #576E86;
    border: none;
    padding: 8px 10px 8px 10px;
    border-radius: 5px;
    color: #A8BACE;
}

form input[type=submit]:hover,
#upfile button:hover{
    background: #394D61;
}

#upfile button{
    border: 1px dashed #BBB;
    cursor:pointer;
    background: transparent;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 16px;
    color: #fff;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
    border-radius: 50%;
}

.container:hover input ~ .checkmark {
    background-color: #ccc;
}

.container input:checked ~ .checkmark {
background-color: seagreen;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .checkmark:after {
    display: block;
}

.container .checkmark:after {
    top: 4px;
    left: 4px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}